<div class="row header">
  <div class="col-md-2 header-left">
    <img src="../../assets/profile.png" alt="Profile pic" class="header-pic">
    <span class="header-username">{{user.name}}</span>
  </div>
  <div class="col-md-8">
    <button id="newWorkSessionButton" (click)="newWorkSessionClick()" class="btn btn-primary" *ngIf="this.isFirst">New Work Session</button>
    <button id="playPauseButton" (click)="playPauseButtonClick(workSession)" class="btn" *ngIf="!this.isFirst" [ngClass]="{'btn-success': !workSession.playing, 'btn-warning': workSession.playing}"><i class="fa" [ngClass]="{'fa-play': !workSession.playing, 'fa-pause': workSession.playing}"></i></button>
    <div ngbDropdown class="d-inline-block" *ngIf="!this.isFirst && !workSession.playing && !workSession.location">
        <button class="btn btn-outline-primary" id="locationDropdown" ngbDropdownToggle>Location</button>
        <div ngbDropdownMenu aria-labelledby="locationDropdown">
          <button class="dropdown-item" (click)="locationOfficeClick(workSession)">Office</button>
          <button class="dropdown-item" (click)="locationHomeClick(workSession)">Home</button>
        </div>
      </div>
  </div>
  <div class="col-md-2">

  </div>
</div>


<!-- 
<div class="col-sm-12 header">
    <div class="col-sm-3 header-info-user">
      <img src="../../assets/profile.png" alt="Profile pic" class="header-pic">
      <span class="header-username">{{user.name}}</span>
      <span>{{status}}</span>
      <span>{{location}}</span>
    </div>
    <div class="col-sm-7">
      <button id="newWorkSessionButton" (click)="newWorkSessionClick()" class="btn btn-primary" *ngIf="this.isFirst">New Work Session</button>
      <button id="playPauseButton" (click)="playPauseButtonClick(workSession)" class="btn" *ngIf="!this.isFirst" [ngClass]="{'btn-success': !workSession.playing, 'btn-warning': workSession.playing}"><i class="fa" [ngClass]="{'fa-play': !workSession.playing, 'fa-pause': workSession.playing}"></i></button>
      <div ngbDropdown class="d-inline-block" *ngIf="!workSession.playing && !workSession.location">
        <button class="btn btn-outline-primary" id="locationDropdown" ngbDropdownToggle>Location</button>
        <div ngbDropdownMenu aria-labelledby="locationDropdown">
          <button class="dropdown-item" (click)="locationOfficeClick(workSession)">Office</button>
          <button class="dropdown-item" (click)="locationHomeClick(workSession)">Home</button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block" *ngIf="workSession.playing">
        <button class="btn btn-outline-primary" id="statusDropdown" ngbDropdownToggle>Status</button>
        <div ngbDropdownMenu aria-labelledby="statusDropdown">
          <button class="dropdown-item status-high" (click)="statusHighClick()">Very Busy <i class="fa fa-exclamation-triangle"></i></button>
          <button class="dropdown-item status-mid" (click)="statusMidClick()">Busy - Normal Work</button>
          <button class="dropdown-item status-low" (click)="statusLowClick()">Free - Can I help?</button>
        </div>
      </div>
       <button class="btn btn-danger" [hidden]="!workSession.playing && this.isFirst" (click)="endWorkSessionClick()">Done</button> 
    </div>
    <div class="col-sm-2">
  
    </div>
  </div>

   -->