<div class="container-fluid">
    <h3 class="component-title">Office</h3>
  <!--I just placed some elements to have some idea of how I wish this layout to be. Need some thinking in here.  -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <label>At office: </label>
        <button class="btn">3</button>
      </div>
      <div class="card">
          <label>Remaining to come: </label>
          <button class="btn">5</button>
        </div>
    </div>
    <div class="col-md-6">
      <label>Very busy: </label>
      <button class="btn">1</button>
      <label>Busy: </label>
      <button class="btn">2</button>
      <label>Free: </label>
      <button class="btn">0</button>
    </div>
  </div>

</div>