<div class="col-md-7 office">
  <div class="office-header">
    <h3>Office <i class="fa fa-users"></i></h3>
    <hr>
  </div>
  <div class="row office-container">
    <div class="col-md-5">
      <div class="info-card">
        <label class="info-card-label">At office:</label>
        <span class="info-card-data">{{workingAtOfficeCounter}}</span>
      </div>
      <div class="info-card">
        <label class="info-card-label">Remaining to come:</label>
        <span class="info-card-data">#ToDo</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-card">
        <label id="label-high-status" placement="right" ngbTooltip="Do not disturb!">Very busy:</label>
        <span class="info-card-data">{{veryBusyUsersCounter}}</span>
      </div>
      <div class="info-card">
        <label id="label-mid-status" placement="right" ngbTooltip="Normal work, answer in few minutes.">Busy:</label>
        <span class="info-card-data">{{busyUsersCounter}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-card">
        <label id="label-low-status" placement="right" ngbTooltip="Need any help?">Free:</label>
        <span class="info-card-data">{{freeUsersCounter}}</span>
      </div>
      <div class="knowlodge-available-card">
        <label class="info-card-label">Knowlodge available:</label>
        <div class="info-card-data">
          <img src="./../assets/angular-icon.svg" alt="Angular" width="25" height="25" placement="top" ngbTooltip="Angular">
          <img src="./../assets/apple-icon.png" alt="iOS" width="25" height="25" placement="top" ngbTooltip="iOS">
          <img src="./../assets/android-icon.png" alt="Android" width="25" height="25" placement="top" ngbTooltip="Android">
          <img src="./../assets/c-sharp-icon.png" alt="C#" width="25" height="25" placement="top" ngbTooltip="C#">
          <img src="./../assets/react-icon.png" alt="React" width="25" height="25" placement="top" ngbTooltip="React">
        </div>
      </div>
    </div>
  </div>

</div>